<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<ul class="thumbnails">
  <% @articles.each do |article| %>
    <li class="span4">
      <div class="thumbnail">
        <a href='<%= article.url %>'><img data-src="holder.js/300x200" alt="">
        <h3><%= article.title %></h3>
        <p><%= article.content %></p></a>
        <%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>



<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Posteddate</th>
      <th>Content</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.url %></td>
        <td><%= article.title %></td>
        <td><%= article.postedDate %></td>
        <td><%= article.content %></td>
        <td><%= article.thumbnail %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
