<p id="notice"><%= notice %></p>

<p>
  <strong>Accepted date:</strong>
  <%= @report.accepted_date %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @report.report_date %>
</p>

<p>
  <strong>Infomation:</strong>
  <%= @report.infomation %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
